# 操作系統產生的文件
.DS_Store
Thumbs.db

# 編譯器或建構工具產生的文件
node_modules/
dist/
build/
*.class
*.o

# 編輯器或 IDE 產生的文件
.vscode/
.idea/
*.swp

# 敏感資料
.env
config/credentials.yml

# 日誌文件
*.log

# 臨時文件
*.tmp
*.bak

# 特定的 SQL 文件
database_command.sql

